body, html {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    background: linear-gradient(45deg, rgba(197, 0, 0, .1), rgba(197, 0, 0, .5)) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.containers{
    display: flex;
    width: 40%;
    height: 40%;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.containers_left{
    align-items: center;
    text-align: center;
    justify-content:center;
    width: 50%;
   background-image: url('../../file/img/login.jpg');
   background-size: cover;
}

.containers_center{
    display: block;
    align-items: center;
    text-align: center;
    justify-content:center;
    width: 50%;
    background: white;
}

.login_top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 20%;
}

.login_center{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    height: 60%;
    width: 100%;

}

.login_bottop{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 20%;
}

.input_text{
    text-align: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: rgba(197, 0, 0, .9);
    border-bottom-width: 2px;
    margin-bottom: 3px;
    margin: 3px;
    padding: 5px 10px 5px 10px; 
}

.input_text:hover{
    text-align: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: rgba(197, 0, 0, .9);
    border-bottom-width: 2px;
    margin-bottom: 3px;
}

.input_text:focus{
    text-align: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: rgba(197, 0, 0, .9);
    border-bottom-width: 2px;
    margin-bottom: 3px;
    outline: 0;
    outline-offset: 0;
}

.input_button{
    margin-top: 10px;
    width: 100%;
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}

.input_button:hover{
    margin-top: 10px;
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.input_button:focus{
    margin-top: 10px;
}
.input_button:active{
top: 1px;
  box-shadow: none;
}

.reg_log{
    
}

.hidden{
    display: none;
}

h1{
    font-size: 50px;
}